backend/CustomerApi/CustomerApi.Application/bin
backend/CustomerApi/CustomerApi.Application/obj
backend/CustomerApi/CustomerApi.Domain/bin
backend/CustomerApi/CustomerApi.Domain/obj
backend/CustomerApi/CustomerApi.Infrastructure/bin
backend/CustomerApi/CustomerApi.Infrastructure/obj
backend/CustomerApi/CustomerApi.Messaging/obj
backend/CustomerApi/CustomerApi/bin
backend/CustomerApi/CustomerApi/obj
backend/OrderApi/OrderApi.Application/bin
backend/OrderApi/OrderApi.Application/obj
backend/OrderApi/OrderApi.Domain/bin
backend/OrderApi/OrderApi.Domain/obj
backend/OrderApi/OrderApi.Infrastructure/bin
backend/OrderApi/OrderApi.Infrastructure/obj
backend/OrderApi/OrderApi.Messaging/obj
backend/OrderApi/OrderApi/bin
backend/OrderApi/OrderApi/obj
backend/AuthApi/AuthApi.Application/bin
backend/AuthApi/AuthApi.Application/obj
backend/AuthApi/AuthApi.Domain/bin
backend/AuthApi/AuthApi.Domain/obj
backend/AuthApi/AuthApi.Infrastructure/bin
backend/AuthApi/AuthApi.Infrastructure/obj
backend/AuthApi/AuthApi.Messaging/obj
backend/AuthApi/AuthApi/bin
backend/AuthApi/AuthApi/obj
deployment/azure/core/.terraform/
deployment/azure/core/.terraform.lock.hcl
deployment/azure/core/tfplan
deployment/azure/k8s/.terraform/
deployment/azure/k8s/.terraform.lock.hcl
deployment/azure/k8s/tfplan
deployment/azure/k8s/kube_config
deployment/tls.crt
deployment/tls.key
backend/Shared/SharedApi/obj/
backend/Shared/SharedApi/bin/
backend/Shared/Tests/SharedApi.IntegrationTest/obj/
backend/Shared/Tests/SharedApi.IntegrationTest/bin/
backend/AuthApi/Tests/AuthApi.UnitTest/obj/
backend/AuthApi/Tests/AuthApi.UnitTest/bin/
backend/AuthApi/Tests/AuthApi.IntegrationTest/obj/
backend/AuthApi/Tests/AuthApi.IntegrationTest/bin/
backend/OrderApi/Tests/OrderApi.IntegrationTest/obj/
backend/OrderApi/Tests/OrderApi.IntegrationTest/bin/
backend/OrderApi/Tests/OrderApi.UnitTest/obj/
backend/OrderApi/Tests/OrderApi.UnitTest/bin/
backend/CustomerApi/Tests/CustomerApi.IntegrationTest/obj/
backend/CustomerApi/Tests/CustomerApi.IntegrationTest/bin/
backend/CustomerApi/Tests/CustomerApi.UnitTest/obj/
backend/CustomerApi/Tests/CustomerApi.UnitTest/bin/
cluster-keys.json
