src/ServiceA/ServiceA.Api/obj
src/ServiceA/ServiceA.Application/obj
src/ServiceA/ServiceA.Domain/obj
src/ServiceA/ServiceA.Infrastructure/obj
src/ServiceA/ServiceA.Api/bin
src/ServiceA/ServiceA.Application/bin
src/ServiceA/ServiceA.Domain/bin
src/ServiceA/ServiceA.Infrastructure/bin
src/ServiceB/ServiceB.Domain/obj
src/ServiceB/ServiceB.Infrastructure/obj
src/ServiceB/ServiceB.Application/obj
src/ServiceB/ServiceB.Api/obj
src/ServiceB/ServiceB.Application/bin
src/ServiceB/ServiceB.Api/bin
src/ServiceB/ServiceB.Infrastructure/bin
src/ServiceB/ServiceB.Domain/bin
kubernetes/sqlserver/
