backend/CustomerApi/CustomerApi.Application/bin
backend/CustomerApi/CustomerApi.Application/obj
backend/CustomerApi/CustomerApi.Domain/bin
backend/CustomerApi/CustomerApi.Domain/obj
backend/CustomerApi/CustomerApi.Infrastructure/bin
backend/CustomerApi/CustomerApi.Infrastructure/obj
backend/CustomerApi/CustomerApi.Messaging/obj
backend/CustomerApi/CustomerApi/bin
backend/CustomerApi/CustomerApi/obj
backend/OrderApi/OrderApi.Application/bin
backend/OrderApi/OrderApi.Application/obj
backend/OrderApi/OrderApi.Domain/bin
backend/OrderApi/OrderApi.Domain/obj
backend/OrderApi/OrderApi.Infrastructure/bin
backend/OrderApi/OrderApi.Infrastructure/obj
backend/OrderApi/OrderApi.Messaging/obj
backend/OrderApi/OrderApi/bin
backend/OrderApi/OrderApi/obj
deployment/azure/.terraform*
deployment/azure/.terraform.lock.hcl
deployment/azure/terraform.tfstate
deployment/azure/terraform.tfstate.backup
deployment/azure/ingress-tls.crt
deployment/azure/ingress-tls.key
backend/CustomerApi/Tests/CustomerApi.Application.Test/bin/
backend/CustomerApi/Tests/CustomerApi.Application.Test/obj/
backend/OrderApi/Tests/OrderApi.Application.Test/bin/
backend/OrderApi/Tests/OrderApi.Application.Test/obj/
